@import 'src/styles/colors.scss';

.home {
  background-color: $dove-gray;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.films-container {
  display: flex;
  justify-content: space-evenly;


  img {
    width: 15%;
    border: solid 2px transparent;

    &:hover {
      cursor: pointer;
      border: solid 2px $concrete;
    }
  }
}
